<section>
  <footer>
    <div class="container-fluid pt-5 pb-5 ">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
          <h2>location</h2>
          <p>22 Bruce wayne palace  ,gotham city </p>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
          <h2>social media</h2>
          <div class="d-flex justify-content-center align-items-center">
            <div class="icon d-flex rounded-circle align-items-center justify-content-around">
              <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="icon d-flex rounded-circle align-items-center justify-content-around">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="icon d-flex rounded-circle align-items-center justify-content-around">
              <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="icon d-flex rounded-circle align-items-center justify-content-around">
              <i class="fa-brands fa-linkedin"></i>
            </div>
          </div>

        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
          <h2>about</h2>
          <p class="lead">
            "I Wear A Mask. And That Mask, It’s Not To Hide Who I Am, But To Create What I Am.”

          </p>
        </div>
      </div>
    </div>
  </footer>
</section>
