<div class="hero">
  <div class="container pt-5">
    <div class="row pt-5 w-100 ">
      <div class="col-md-4 text-light py-5 ">
        <h2 class="mb-5">contact us</h2>
        <form class="row">
          <div class="col-md-6 mb-4">
            <label for="inputEmail4" class="form-label">first name</label>
            <input type="email" class="form-control" id="inputEmail4" />
          </div>
          <div class="col-md-6 mb-4">
            <label for="inputPassword4" class="form-label">last name</label>
            <input type="password" class="form-control" id="inputPassword4" />
          </div>
          <div class="col-12 mb-4">
            <label for="inputAddress" class="form-label">Address</label>
            <input
              type="text"
              class="form-control"
              id="inputAddress"
              placeholder="1234 Main St"
            />
          </div>

          <div class="col-md-6 mb-4">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity" />
          </div>
          <div class="col-md-4 mb-4">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="inputZip" />
          </div>
          <div class="col-12 mb-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck" />
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
          </div>
          <div class="col-10 d-flex justify-content-center">
            <button type="submit" class="w-75 btn btn-outline-warning">
              send
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
